<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>poetryContent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/poetryContent.css">
  </head>

  <body>
    <div class="poetryContent_container" id="vue_moudle">
        <div class="nav_container">
            <img class="poetry_logo" src="../img/poetry_logo.png"/>
            <div class="nav_page_container">
                <span class="nav_span nav_page nav_nowPage" onclick="window.location.href='onePoetry.html'">诗词</span>
                <span class="nav_span nav_page" onclick="window.location.href='oneTea.html'">茶社</span>
            </div>
            <div class="nav_mine_container">
                <span class="nav_span nav_mine">你好,{{userName}}</span>
                <span class="nav_span nav_mine">我的</span>
            </div>
        </div>
        <ul class="poetry_nav">
            <li class="poetry_nav_li poetry_nav_active" onclick="window.location.href='onePoetry.html'">一首</li>
            <li class="poetry_nav_li" onclick="window.location.href='poetrySearch.html'">诗词</li>
            <li class="poetry_nav_li" onclick="window.location.href='poetryComment.html'">与君语</li>
        </ul>

        <div class="poetry_container">
            <div class="left_outline_container">
                <p class="left_outline_link" v-for="leftOutline in leftOutlineList"><a :href="leftOutline.aHref">{{leftOutline.name}}</a></p>
            </div>

            <div class="poetry_analysis_container">
                <div class="original_text_container" id="originalText">
                    <p class="moudle_name">正文</p>
                    <div class="moudle_text_content">
                        <p class="poetry_title">{{poetryTitle}}</p>
                        <p class="poetry_author">[{{poetryAuthorDynasty}}]{{poetryAuthor}}</p>
                        <p class="poetry_content" v-html="poetryContent"></p>
                    </div>
                </div>

                <div class="poetry_analysis_moudle_container"
                     v-for="poetryAnalysis in poetryAnalysisList"
                     :id="poetryAnalysis.moudleId">
                    <p class="moudle_name">{{poetryAnalysis.moudleName}}</p>
                    <div class="moudle_content" v-html="poetryAnalysis.moudleContent"></div>
                </div>
            </div>

            <div class="right_outline_container">
                <p class="right_outline_link"
                   v-for="rightOutline in rightOutlineList">
                   {{rightOutline.name}}
                   &ensp;
                   <span :class="rightOutline.iconSrc"></span>
                </p>
            </div>

            <div class="comment_moudle_container" id="comment_moudle_container">
                <p class="comment_moudle_title">评论</p>

                <div class="comment_container" v-for="(comment, index) in commentList"
                     v-if="commentShow">
                    <div class="commment_title">
                        <img :src="comment.imgSrc" class="comment_img">
                        <span class="comment_author">{{comment.commentUserName}}：</span>
                    </div>
                    <p class="comment_content" v-html="comment.commentContent"></p>
                    <div class="comment_bottom">
                        <span class="comment_time">{{comment.commentDateTime}}&ensp;&ensp;&ensp;&ensp;</span>
                        <span class="glyphicon glyphicon-heart-empty" v-if="comment.notLike"
                              @click="clickLikeIcon(index, comment.commentId)"></span>
                        <span class="glyphicon glyphicon-heart" v-else></span>
                        <span class="comment_like_num">&ensp;{{comment.commentLikeNum}}&ensp;&ensp;&ensp;</span>
                        <span class="glyphicon glyphicon-edit" @click="clickReplyIcon(index)"></span>
                        <span class="comment_reply_num">&ensp;{{comment.replyNum}}</span>
                    </div>
                    <div class="reply_container" v-if="comment.replyShow">
                        <div class="reply" v-for="(reply, replyIndex) in comment.replyBeanList">
                            <div class="reply_top_container">
                                <span>{{reply.fromUserName}}</span>
                                <div>
                                    <span class="glyphicon glyphicon-heart-empty" v-if="reply.notLike"
                                          @click="clickReplyLikeIcon(index, replyIndex, reply.replyId)"></span>
                                    <span class="glyphicon glyphicon-heart" v-else></span>
                                    <span class="reply_like_num">&ensp;{{reply.replyLikeNum}}&ensp;&ensp;&ensp;</span>
                                </div>
                            </div>
                            <p class="reply_content" v-html="reply.replyContent"></p>
                        </div>

                        <div class="reply" v-if="comment.addReplyShow">
                            <textarea class="insert_reply_content" placeholder="请输入您的回复"
                                      v-model="replyContent">
                            </textarea>
                            <div>
                                <input class="insert_reply_button" type="button" value="确认回复"
                                       @click="insertReply(comment.commentId, comment.commentUId)"/>
                            </div>
                        </div>
                    </div>
                </div>

                <p v-else>暂无</p>

                <div class="insert_comment_container">
                    <textarea class="insert_comment_content" placeholder="请输入您的评论"
                              v-model="commentContent">
                    </textarea>
                    <div>
                        <input class="insert_comment_button" type="button" value="发布评论"
                        @click="insertComment"/>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- <div>
    </div> -->
    <script src="../js/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/poetryContent.js"></script>

  </body>
</html>
