<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>My html 'login.html' starting page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/poetrySearch.css">
    <!-- 引入element ui样式 -->
    <!-- <link rel="stylesheet" href="../elementUI/elementUI.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入element ui组件库 -->
    <!-- <script src="../elementUI/elementUI.js"></script> -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
  </head>

  <body>
    <div class="poetrySearch_container" id="vue_moudle">


        <div class="nav_container">
            <img class="poetry_logo" src="../img/poetry_logo.png"/>
            <div class="nav_page_container">
                <span class="nav_span nav_page nav_nowPage" onclick="window.location.href='onePoetry.html'">诗词</span>
                <span class="nav_span nav_page" onclick="window.location.href='oneTea.html'">茶社</span>
            </div>
            <div class="nav_mine_container">
                <span class="nav_span nav_mine">你好,{{userName}}</span>
                <span class="nav_span nav_mine">我的</span>
            </div>
        </div>


        <ul class="poetry_nav">
            <li class="poetry_nav_li" onclick="window.location.href='onePoetry.html'">一首</li>
            <li class="poetry_nav_li poetry_nav_active" onclick="window.location.href='poetrySearch.html'">诗词</li>
            <li class="poetry_nav_li" onclick="window.location.href='poetryComment.html'">与君语</li>
        </ul>


        <div class="poetry_content_container">
            <div class="search_container">
                <div class="search_type_container" v-for="leixing in leixingList">
                    <div class="search_type_title_line"></div>
                    <span class="search_type_title_name">{{leixing.title}}</span>
                    <ul class="search_type_content_ul">
                        <li class="search_type_content_li" v-for="content in leixing.content"
                            @click="searchByLeixingming(leixing.leixingming, content)">{{content}}</li>
                        <li class="search_type_content_li" style="clear: both;font-size: 0px; margin: 0px; line-height: 0px;">&nbsp;</li>
                    </ul>
                </div>
            </div>

            <div class="search_words_container">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" placeholder="请输入关键词" class="search_words_input" v-model="searchInput"/>
                <div class="search_words_line"></div>
                <div class="search_words_text" @click="queryPoetryByInput">搜索</div>
            </div>

            <div class="seperate_line"><span class="seperate_line_span">搜索结果：</span></div>

            <div class="search_result_container" v-for="searchResult in searchResultList">
                <div class="search_result_title" v-html="searchResult.title"
                     @click="enterPoetryContent(searchResult.id)"></div>
                <div class="search_result_author" v-html="searchResult.author"></div>
                <div class="search_result_content" v-html="searchResult.content"></div>
            </div>

            <div class="block" style="margin-top: 40px; font-size: 16px;" v-if="paginationShow">
                <el-pagination
                    :total="pageNum"
                    layout="prev, pager, next"
                    :current-page="currentPage"
                    @current-change="currentPageChange">
                </el-pagination>
            </div>
        </div>
    </div>

    <!-- <div>
    </div> -->
    <script src="../js/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <!-- import Vue before Element -->
    <!-- <script src="../elementUI/vue.js"></script> -->
    <!-- import JavaScript -->
    <script src="../elementUI/elementUI.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#vue_moudle',
            data: function()
            {
            return{
                userName: '',
                leixingList: [
                    {
                        leixingming: "chaodai",
                        title: '朝代',
                        content: ['先秦', '两汉', '魏晋', '南北朝', '隋代', '唐代', '五代', '宋代', 
                                  '金朝', '元代', '明代', '清代']
                    },
                    {
                        leixingming: "zuozhe",
                        title: '作者',
                        content: ['李白', '杜甫', '苏轼', '王维', '杜牧', '陆游', '元稹', '李煜', '李白',      '岑参', '韩愈', '贾岛', '曹操', '柳永', '李赫', '曹植', '孟郊', '罗隐',
                                  '王建', '王勃', '晏殊', '卢纶', '岳飞', '屈原', '朱熹', '高适', '秦观',
                                  '贺铸', '纳兰性德', '白居易', '辛弃疾', '李清照', '刘禹锡', '李商隐', 
                                  '陶渊明', '孟浩然', '柳宗元', '王安石', '欧阳修', '刘长卿', '温庭筠', 
                                  '王昌龄', '杨万里', '范仲淹', '周邦彦', '晏几道', '马致远', '张九龄', 
                                  '黄庭坚', '周敦颐']
                    },
                    {
                        leixingming: "fenlei",
                        title: '类型',
                        content: ['写景', '咏物', '春天', '夏天', '秋天', '冬天', '写雨', '写雪', '写风',
                                  '写花', '梅花', '荷花', '菊花', '柳树', '月亮', '山水', '写山', '写水',
                                  '长江', '黄河', '儿童', '写鸟', '写马', '田园', '边塞', '地名', '节日',
                                  '春节', '元宵', '寒食', '清明', '端午', '七夕', '中秋', '重阳', '怀古',
                                  '抒情', '爱国', '离别', '送别', '思乡', '思念', '爱情', '励志', '哲理',
                                  '闺怨', '悼亡', '写人', '老师', '母亲', '友情', '战争', '读书', '惜时',
                                  '忧民', '婉约', '豪放', '民谣']
                    }
                ],
                searchInput: "",
                currentSearch: 0,//0 为分类， 1 为全文
                searchResultList: [],
                currentLeixingming: '',
                currentMingcheng: '',
                currentPage: 1,
                pageNum: 1,
                paginationShow: false
            }
            },
            mounted: function () {
                this.$nextTick(function () {
                    console.log("document.cookie: " + document.cookie);
                    var arrCookie = document.cookie.replace(/[ ]/g,"").split(";");
                    for(var i = 0;i < arrCookie.length; i++){
                        console.log(arrCookie[i]);   
                        var arr = arrCookie[i].split("="); 
                        if(arr[0] == "userName"){
                            this.userName = unescape(arr[1]);
                            break;
                        }
                    }
                })
            },
            methods: {
                searchByLeixingming: function (leixingming, mingcheng) {
                    var that = this;
                    this.currentSearch = 0;
                    this.currentPage = 1;
                    this.currentLeixingming = leixingming;
                    this.currentMingcheng = mingcheng;
                    console.log("this.pageNum" + this.pageNum);
                    $.ajax({
                        url:"../poetry/queryPoetryByLeixingming",
                        data:{
                            leixingming: this.currentLeixingming,
                            mingcheng: this.currentMingcheng,
                            pageMaxNum: 10,
                            pageNo: this.currentPage
                        },
                        type:"get",
                        dataType:"json",
                        success:function(data)
                        {
                            that.searchResultList = [];
                            console.log("queryPoetryByLeixingming success");
                            for(var i = 0; i < data.data.poetry.length; i++){
                                var poetry = {};
                                poetry.id = data.data.poetry[i].id;
                                poetry.title = data.data.poetry[i].mingcheng;
                                poetry.content = data.data.poetry[i].yuanwen;
                                if(that.currentLeixingming == "chaodai"){
                                    poetry.author = "<span class='red'>" + data.data.poetry[i].chaodai + "</span>" + '/' + data.data.poetry[i].zuozhe;
                                }else if(that.currentLeixingming == "zuozhe"){
                                    poetry.author = data.data.poetry[i].chaodai +  '/' + "<span class='red'>" + data.data.poetry[i].zuozhe + "</span>";
                                }
                                that.searchResultList.push(poetry);
                            }
                            that.pageNum = data.data.pageNum * 10;
                            that.paginationShow = true;
                        }
                    }); 
                },
                currentPageChange: function(currentPage){
                    var that = this;
                    this.currentPage = currentPage;
                    if(this.currentSearch == 0){
                        $.ajax({
                            url:"../poetry/queryPoetryByLeixingming",
                            data:{
                                leixingming: this.currentLeixingming,
                                mingcheng: this.currentMingcheng,
                                pageMaxNum: 10,
                                pageNo: this.currentPage
                            },
                            type:"get",
                            dataType:"json",
                            success:function(data)
                            {
                                that.searchResultList = [];
                                console.log("pageNoChange success");
                                for(var i = 0; i < data.data.poetry.length; i++){
                                    var poetry = {};
                                    poetry.id = data.data.poetry[i].id;
                                    poetry.title = data.data.poetry[i].mingcheng;
                                    poetry.content = data.data.poetry[i].yuanwen;
                                    if(that.currentLeixingming == "chaodai"){
                                        poetry.author = "<span class='red'>" + data.data.poetry[i].chaodai + "</span>" + '/' + data.data.poetry[i].zuozhe;
                                    }else if(that.currentLeixingming == "zuozhe"){
                                        poetry.author = data.data.poetry[i].chaodai +  '/' + "<span class='red'>" + data.data.poetry[i].zuozhe + "</span>";
                                    }
                                    that.searchResultList.push(poetry);
                                }
                                that.pageNum = data.data.pageNum * 10;
                                that.paginationShow = true;
                            }
                        }); 
                    }else{
                        $.ajax({
                            url:"../poetry/queryPoetryByInput",
                            data:{
                                yuanwen: this.searchInput,
                                pageMaxNum: 10,
                                pageNo: this.currentPage
                            },
                            type:"get",
                            dataType:"json",
                            success:function(data)
                            {
                                that.searchResultList = [];
                                console.log("pageNoChange success");
                                for(var i = 0; i < data.data.poetry.length; i++){
                                    var poetry = {};
                                    poetry.id = data.data.poetry[i].id;
                                    poetry.title = data.data.poetry[i].mingcheng;
                                    poetry.author = data.data.poetry[i].chaodai + data.data.poetry[i].zuozhe;
                                    var content = data.data.poetry[i].yuanwen;
                                    var contentArray = content.split(that.searchInput);
                                    var insertString = "<span class='red'>" + that.searchInput + "</span>";
                                    poetry.content = contentArray.join(insertString);
                                    that.searchResultList.push(poetry);
                                }
                                that.pageNum = data.data.pageNum * 10;
                                that.paginationShow = true;
                            }
                        }); 
                    }
                },
                queryPoetryByInput: function(){
                    var that = this;
                    this.currentSearch = 1;
                    this.currentPage = 1;
                    $.ajax({
                        url:"../poetry/queryPoetryByInput",
                        data:{
                            yuanwen: this.searchInput,
                            pageMaxNum: 10,
                            pageNo: this.currentPage
                        },
                        type:"get",
                        dataType:"json",
                        success:function(data)
                        {
                            that.searchResultList = [];
                            console.log("pageNoChange success");
                            for(var i = 0; i < data.data.poetry.length; i++){
                                var poetry = {};
                                poetry.id = data.data.poetry[i].id;
                                poetry.title = data.data.poetry[i].mingcheng;
                                poetry.author = data.data.poetry[i].chaodai + data.data.poetry[i].zuozhe;
                                var content = data.data.poetry[i].yuanwen;
                                var contentArray = content.split(that.searchInput);
                                var insertString = "<span class='red'>" + that.searchInput + "</span>";
                                poetry.content = contentArray.join(insertString);
                                that.searchResultList.push(poetry);
                            }
                            that.pageNum = data.data.pageNum * 10;
                            that.paginationShow = true;
                        }
                    }); 
                },
                enterPoetryContent: function(poetryId){
                    window.open("poetryContent.html?poetryId=" + poetryId);
                }
            },
        })
    </script>
  </body>
</html>
