<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>poetryComment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/poetryContent.css">
    <link rel="stylesheet" href="../css/postContent.css">
  </head>

  <body>
    <div class="postContent_container" id="vue_moudle">
        <div class="nav_container">
            <img class="poetry_logo" src="../img/poetry_logo.png"/>
            <div class="nav_page_container">
                <span class="nav_span nav_page" onclick="window.location.href='onePoetry.html'">诗词</span>
                <span class="nav_span nav_page nav_nowPage" onclick="window.location.href='oneTea.html'">茶社</span>
            </div>
            <div class="nav_mine_container">
                <span class="nav_span nav_mine">你好,{{userName}}</span>
                <span class="nav_span nav_mine">我的</span>
            </div>
        </div>
        <ul class="poetry_nav">
            <li class="poetry_nav_li poetry_nav_active" onclick="window.location.href='oneTea.html'">一盏</li>
            <li class="poetry_nav_li" onclick="window.location.href='teaList.html'">清茶</li>
            <li class="poetry_nav_li" onclick="window.location.href='teaTeam.html'">觅知音</li>
        </ul>

        <div class="post_content_container">
            <div class="post_container">
                <p class="post_title">{{postTitle}}</p>
                <p class="post_userName">{{postUserName}}</p>
                <p class="post_content" v-html="postContent"></p>
            </div>

            <div class="comment_moudle_container" id="comment_moudle_container">
                <div class="comment_container" v-for="(comment, index) in commentList"
                     v-if="commentShow">
                    <div class="commment_title">
                        <img :src="comment.imgSrc" class="comment_img">
                        <span class="comment_author">{{comment.postCommentUserName}}：</span>
                    </div>
                    <p class="comment_content" v-html="comment.postCommentContent"></p>
                    <div class="comment_bottom">
                        <span class="comment_time">{{comment.postCommentDateTime}}&ensp;&ensp;&ensp;&ensp;</span>
                        <span class="glyphicon glyphicon-heart-empty" v-if="comment.notLike"
                              @click="clickLikeIcon(index, comment.postCommentId)"></span>
                        <span class="glyphicon glyphicon-heart" v-else></span>
                        <span class="comment_like_num">&ensp;{{comment.postCommentLikeNum}}&ensp;&ensp;&ensp;</span>
                        <span class="glyphicon glyphicon-edit" @click="clickReplyIcon(index)"></span>
                        <span class="comment_reply_num">&ensp;{{comment.replyNum}}</span>
                    </div>
                    <div class="reply_container" v-if="comment.replyShow">
                        <div class="reply" v-for="(reply, replyIndex) in comment.postReplyBeanList">
                            <div class="reply_top_container">
                                <span>{{reply.fromUserName}}</span>
                                <div>
                                    <span class="glyphicon glyphicon-heart-empty" v-if="reply.notLike"
                                          @click="clickReplyLikeIcon(index, replyIndex, reply.postReplyId)"></span>
                                    <span class="glyphicon glyphicon-heart" v-else></span>
                                    <span class="reply_like_num">&ensp;{{reply.postReplyLikeNum}}&ensp;&ensp;&ensp;</span>
                                </div>
                            </div>
                            <p class="reply_content" v-html="reply.postReplyContent"></p>
                        </div>

                        <div class="reply" v-if="comment.addReplyShow">
                            <textarea class="insert_reply_content" placeholder="请输入您的回复"
                                      v-model="replyContent">
                            </textarea>
                            <div>
                                <input class="insert_reply_button" type="button" value="确认回复"
                                       @click="insertReply(comment.postCommentId, comment.postCommentUId)"/>
                            </div>
                        </div>
                    </div>
                </div>

                <p v-else>暂无</p>

                <div class="insert_comment_container">
                    <textarea class="insert_comment_content" placeholder="请输入您的评论"
                              v-model="commentContent">
                    </textarea>
                    <div>
                        <input class="insert_comment_button" type="button" value="发布评论"
                        @click="insertComment"/>
                    </div>
                </div>
        </div>

    </div>

    <!-- <div>
    </div> -->
    <script src="../js/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#vue_moudle',
            data: {
                userName: '',
                userId: 0,
                postId: 0,
                postTitle: "",
                postUserName: "",
                postContent: '',
                commentList: [],
                commentShow: false, 
                commentContent: '',
                replyContent: '',  
            },
            mounted: function () {
                this.$nextTick(function () {
                    var that = this;
                    console.log("document.cookie: " + document.cookie);
                    var arrCookie = document.cookie.replace(/[ ]/g,"").split(";");
                    for(var i = 0;i < arrCookie.length; i++){
                        console.log(arrCookie[i]);   
                        var arr = arrCookie[i].split("="); 
                        if(arr[0] == "userName"){
                            this.userName = unescape(arr[1]);
                        }
                        if(arr[0] == "userId"){
                            this.userId = arr[1];
                        }
                    }
                    this.postId = document.URL.split("?")[1].split("=")[1];
                    $.ajax({
                        url:"../post/queryPostById",
                        data:{
                            postId: this.postId
                        },
                        type:"get",
                        dataType:"json",
                        success:function(data)
                        {
                            console.log("queryPostById success");
                            that.postTitle = data.data.postTitle;
                            that.postUserName = data.data.postUserName;
                            that.postContent = data.data.postContent;
                            if(data.success == true){
                                var commentList = data.data.postCommentBeanList;
                                for(var i = 0 ; i < commentList.length; i++){
                                    commentList[i].commentReplyNum = commentList[i].postReplyBeanList.length;
                                    commentList[i].notLike = true;
                                    commentList[i].replyShow = false;

                                    commentList[i].addReplyShow = false;
                                    if(commentList[i].postReplyBeanList.length == 0){
                                        commentList[i].replyShow = false;
                                    }else{
                                        commentList[i].replyShow = true;
                                    }
                                    for(var j = 0; j < commentList[i].postReplyBeanList.length; j++){
                                        commentList[i].postReplyBeanList[j].notLike = true;
                                    }


                                }
                                that.commentList = commentList;
                                that.commentShow = true;
                            }else{
                                alert(data.data);
                            }
                        }
                    });
                })
            },
            methods: {
                insertComment: function(){
                    var commentDateTime = this.$options.methods.getNowTime();
                    var commentContent = this.commentContent.replace(/<br>/g, "\n");
                    $.ajax({
                      url:"../postComment/insertPostComment",
                      data:{
                        postId: this.postId,
                        postCommentUId: this.userId,
                        postCommentContent: commentContent,
                        postCommentDateTime: commentDateTime,
                        postCommentLikeNum: 0
                      },
                        type:"get",
                        dataType:"json",
                        success:function(data)
                        {
                            alert(data.data);
                            console.log("insertComment success");
                            location.reload();
                        }
                    });
                },
                clickLikeIcon: function(index, commentId){
                    var that = this;
                    $.ajax({
                      url:"../postComment/addPostCommentLikeNum",
                      data:{
                        postCommentId: commentId,
                      },
                        type:"get",
                        dataType:"json",
                        success:function(data)
                        {
                            console.log("addPostCommentLikeNum success");
                            that.commentList[index].notLike = false;
                            that.commentList[index].postCommentLikeNum ++;
                        }
                    });
                },
                clickReplyIcon: function(index){
                    this.commentList[index].replyShow = true;
                    for(var i = 0; i < this.commentList.length; i++){
                        this.commentList[i].addReplyShow = false;
                    }
                    this.commentList[index].addReplyShow = true;
                },
                insertReply: function(toCommentId, toUId){
                    var replyDateTime = this.$options.methods.getNowTime();
                    var that = this;
                    var replyContent = this.replyContent.replace(/<br>/g, "\n");
                    console.log("replyContent: " + replyContent);
                    $.ajax({
                      url:"../postReply/insertPostReply",
                      data:{
                          toCommentId: toCommentId,
                          fromUId: that.userId,
                          toUId: toUId,
                          postReplyContent: replyContent,
                          postReplyDateTime: replyDateTime,
                          postReplyLikeNum: 0
                      },
                        type:"get",
                        dataType:"json",
                        success:function(data)
                        {
                            alert(data.data);
                            console.log("insertPostReply success");
                            location.reload();
                        }
                    });
                },
                clickReplyLikeIcon: function(commentIndex, replyIndex, replyId){
                    var that = this;
                    $.ajax({
                      url:"../postReply/addPostReplyLikeNum",
                      data:{
                        postReplyId: replyId,
                      },
                        type:"get",
                        dataType:"json",
                        success:function(data)
                        {
                            console.log("addReplyLikeNum success");
                            that.commentList[commentIndex].postReplyBeanList[replyIndex].notLike = false;
                            that.commentList[commentIndex].postReplyBeanList[replyIndex].postReplyLikeNum ++;
                        }
                    });
                },
                getNowTime: function(){
                    var myDate = new Date();
                    var year = myDate.getFullYear(); 
                    var month = myDate.getMonth() + 1;
                    if (month >= 1 && month <= 9) {
                        month = "0" + month;
                    }
                    var day = myDate.getDate();
                    if (day >= 1 && day <= 9) {
                        day = "0" + day;
                    }
                    var hour = myDate.getHours();
                    if (hour >= 0 && hour <= 9) {
                        hour = "0" + hour;
                    }
                    var minute = myDate.getMinutes();
                    if (minute >= 0 && minute <= 9) {
                        minute = "0" + minute;
                    }
                    var second = myDate.getSeconds();
                    if (second >= 0 && second <= 9) {
                        second = "0" + second;
                    }
                    var commentDateTime = year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
                    console.log("commentDateTime" + commentDateTime);
                    return commentDateTime;
                }
            }
        })
    </script>
  </body>
</html>
