<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>清茶</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/onePoetry.css">
    <link rel="stylesheet" href="../css/teaTeam.css">
  </head>

  <body>
    <div class="teaTeam_container" id="vue_moudle">
        <div class="nav_container">
            <img class="poetry_logo" src="../img/poetry_logo.png"/>
            <div class="nav_page_container">
                <span class="nav_span nav_page" onclick="window.location.href='onePoetry.html'">诗词</span>
                <span class="nav_span nav_page nav_nowPage" onclick="window.location.href='oneTea.html'">茶社</span>
            </div>
            <div class="nav_mine_container">
                <span class="nav_span nav_mine">你好,{{userName}}</span>
                <span class="nav_span nav_mine">我的</span>
            </div>
        </div>
        <ul class="poetry_nav">
            <li class="poetry_nav_li" onclick="window.location.href='oneTea.html'">一盏</li>
            <li class="poetry_nav_li" onclick="window.location.href='teaList.html'">清茶</li>
            <li class="poetry_nav_li poetry_nav_active" onclick="window.location.href='teaTeam.html'">觅知音</li>
        </ul>


        <div class="tea_team_container">
            <div v-for="team in teamList" class="team_container">
                <img src="../img/team1.jpg" class="team_img">
                <div class="team_info_container">
                    <div class="team_info_name_container">
                        <img :src="team.imgSrc" class="team_info_name_img">
                        <span class="team_info_name">{{team.name}}</span>
                    </div>
                    <div class="team_info_situation_container">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="team_info_situation_view_num">&ensp;{{team.viewNum}}&ensp;&ensp;&ensp;</span>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="team_info_situation_reply_num">&ensp;{{team.replyNum}}</span>
                    </div>
                </div>
            </div>

            <!-- <div v-for="tea in recommendTeaList" class="recommend_tea">
                <p class="recommend_tea_title">{{tea.title}}</p>
                <p class="recommend_tea_content" v-html="tea.content"></p>
                <div class="recommend_tea_bottom_container">
                    <div class="recommend_tea_author_container">
                        <img :src="tea.imgSrc" class="recommend_tea_author_img"/>
                        <span class="recommend_tea_author_name">{{tea.author}}</span>
                    </div>
                    <div class="recommend_tea_situation_container">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="recommend_tea_view_num">&ensp;{{tea.viewNum}}&ensp;&ensp;&ensp;</span>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="recommend_tea_reply_num">&ensp;{{tea.replyNum}}</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <!-- <div>
    </div> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#vue_moudle',
            data: {
                userName: '',
                teamList: [
                    { 
                        name: '高山流水觅知音',
                        imgSrc: '../img/user_img4.jpeg',
                        viewNum: 3356,
                        replyNum: 74,
                    },
                    { 
                        name: '填词：凤栖梧',
                        imgSrc: '../img/user_img5.jpg',
                        viewNum: 1969,
                        replyNum: 18,
                    },
                    { 
                        name: '梅逢雪落能增色',
                        imgSrc: '../img/user_img2.jpg',
                        viewNum: 3356,
                        replyNum: 74,
                    },
                    { 
                        name: '时节映象——路过人间四月天',
                        imgSrc: '../img/user_img1.jpeg',
                        viewNum: 2940,
                        replyNum: 71,
                    },
                    { 
                        name: '高山流水觅知音',
                        imgSrc: '../img/user_img3.jpg',
                        viewNum: 1677,
                        replyNum: 30,
                    },
                    
                ]
            },
            mounted: function () {
                this.$nextTick(function () {
                    console.log("document.cookie: " + document.cookie);
                    var arrCookie = document.cookie.replace(/[ ]/g,"").split(";");
                    for(var i = 0;i < arrCookie.length; i++){
                        console.log(arrCookie[i]);   
                        var arr = arrCookie[i].split("="); 
                        if(arr[0] == "userName"){
                            this.userName = arr[1];
                            break;
                        }
                    }
                })
            }
        })
    </script>
  </body>
</html>
