html, body, .onePoetry_container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.onePoetry_container{
    background-color: rgb(252, 251, 247);
    overflow: scroll;
    padding-bottom: 20px;
}
.date_pic_container{
    margin: 10px 0 10px 0;
    text-align: center;
}
.date{
    color: rgb(61, 61, 59);
    font-size: 14px;
}
.recommend_poetry_container{
    margin-top: 10px;
    /*display: flex;
    justify-content: center;*/
}
.recommend_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_left{
    width: 300px;
    height: 1px;
    background-color: rgb(211, 210, 205);
    position: relative;
    right: 30px;
}
.line_right{
    width: 300px;
    height: 1px;
    background-color: rgb(211, 210, 205);
    position: relative;
    left: 30px;
}
.recommend_title{
    padding: 4px 4px 4px 4px;
    width: 100px;
    height: 34px;
    background-color: rgb(204, 173, 82);
}
.recommend_title_content{
    width: 90px;
    height: 26px;
    border: 1px solid rgb(230, 207, 140);
    color: #fff;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
}
.recommend_poetry{
    padding-top: 20px;
}
.recommend_poetry_title{
    font-size: 16px;
    color: rgb(61, 61, 61);
    padding: 5px 0 5px 0;
    text-align: center;
}
.recommend_poetry_author{
    font-size: 14px;
    color: rgb(203, 173, 85);
    padding: 5px 0 5px 0;
    text-align: center;
}
.recommend_poetry_content{
    font-size: 14px;
    color: rgb(126, 128, 127);
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}
.line_bottom_container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.line_bottom{
    width: 750px;
    height: 1px;
    background-color: rgb(211, 210, 205);
    text-align: center;
}