.poetryContent_container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 251, 247);
    overflow: scroll;
    padding-bottom: 20px;
}
.poetry_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_outline_container, .right_outline_container{
    position: fixed;
    padding: 0 20px 0 20px;
    border: 1px solid rgb(181, 181, 181);
    background-color: rgb(52, 52, 52);
}
.left_outline_container{
    width: 80px;
    left: 0px;
    top: 170px;
}
.right_outline_container{
    width: 100px;
    position: fixed;
    right: 20px;
    top: 250px;
    padding: 0 10px 0 10px;
}
.left_outline_link, .right_outline_link{
    width: 40px;
    height: 50px;
    margin: 0px;
    background-color: rgb(52, 52, 52);
    color: rgb(181, 181, 181);
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 1px solid rgb(181, 181, 181);
    font-size: 14px;
    cursor: pointer;
}
.right_outline_link{
    width: 80px;
}


/* analysis_moudle layout */
.poetry_analysis_container{
    width: 800px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poetry_analysis_moudle_container{
    margin-top: 30px;
}
.moudle_name{
    width: 80px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    vertical-align: middle;
    background-color: rgb(93, 97, 70);
    border: 1px solid rgb(200, 199, 188);
    color: rgb(240, 239, 226);
    padding: 0 20px 0 20px;
    position: relative;
    right: 50px;
}
.moudle_content{
    margin: 30px 0 30px 0;
    width: 750px;
    text-align: left;
    /*color: rgb(163, 163, 160);*/
    color: rgb(17, 17, 17);
    line-height: 25px;
    vertical-align: middle;
}
.black{
    line-height: 60px;
    vertical-align: middle;
    font-size: 16px;
    color: rgb(15, 15, 15);
}


.original_text_container{
    width: 750px;
}
.moudle_text_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.poetry_title{
    font-size: 20px;
    color: rgb(15, 15, 15);
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
}
.poetry_author{
    line-height: 30px;
    vertical-align: middle;
    color: rgb(101, 100, 95);
    font-size: 14px;
    text-align: center;
}
.poetry_content{
    margin: 30px 0 30px 0;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: rgb(15, 15, 15);
}


/*comment layout*/
.comment_moudle_container{
    margin-top: 30px;
    width: 750px;
}
.comment_moudle_title{
    line-height: 50px;
    vertical-align: middle;
    font-size: 18px;
    border-bottom: 1px solid rgb(211, 210, 205);
    color: rgb(17, 17, 17);
    padding-left: 10px
}

.comment_container{
    width: 750px;
    border-bottom: 1px solid rgb(211, 210, 205);
}
.commment_title{
    padding: 20px 0 20px 0;
}
.comment_img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border: 0px;
    border-radius: 17px;
}
.comment_author{
    position: relative;
    left: 10px;
    font-size: 16px;
}
.comment_content{
    padding: 10px 30px 10px 55px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 14px;
}
.comment_bottom{
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 30px;
    text-align: right;
    padding: 20px 0 20px;
}
.glyphicon-heart-empty{
    cursor: pointer;
}
.glyphicon-edit{
    cursor: pointer;
}


.reply_container{
    padding: 0px 20px 0px 20px;
    width: 680px;
    position: relative;
    left: 50px;
    border-top: 2px solid rgb(216, 212, 209);
    border-right: 2px solid rgb(216, 212, 209);
    border-bottom: 1px solid rgb(216, 212, 209);
    border-left: 2px solid rgb(216, 212, 209);
    margin-bottom: 10px;
    background-color: rgb(247, 246, 244);
}
.reply{
    padding: 15px;
    border-bottom: 1px solid rgb(216, 212, 209);
}
.reply_top_container{
    display: flex;
    justify-content: space-between;
}
.reply_content{
    margin-top: 10px;
    line-height: 18px;
    padding-left: 30px;
}
.insert_reply_content{
    width: 100%;
    height: 80px;
    border: 1px solid rgb(200, 199, 188);
    border-radius: 3px;
}
.insert_reply_button{
    position: relative;
    left: 500px;
    width: 80px;
    height: 30px;
    margin-top: 15px;
    border: 0px;
    background-color: rgb(52, 52, 52);
    color: rgb(181, 181, 181);
    border-radius: 3px;
}


.insert_comment_container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.insert_comment_content{
    width: 100%;
    height: 100px;
    border: 1px solid rgb(200, 199, 188);
    border-radius: 3px;
}
.insert_comment_button{
    position: relative;
    left: 650px;
    width: 80px;
    height: 30px;
    margin-top: 15px;
    border: 0px;
    background-color: rgb(52, 52, 52);
    color: rgb(181, 181, 181);
    border-radius: 3px;
}