.teamShow_container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 251, 247);
    overflow: scroll;
    padding-bottom: 20px;
}
.team_show_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team_info_container{
    width: 1000px;
    height: 270px;
    margin-top: 30px;
    background-color: rgb(240, 239, 226);
    border: 1px solid rgb(200, 199, 188);
    display: flex;
}
.team_info_img{
    width: 560px;
    height: 270px;
}
.team_info_description{
    width: 440px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.team_info_description_p{
    line-height: 20px;
    text-align: center;
    vertical-align: center;
}


.team_member_topic_container{
    display: flex;
    width: 1000px;
    margin-top: 20px;
    justify-content: space-between;
}
.team_member_container{
    width: 220px;
    height: 500px;
    background-color: rgb(240, 239, 226);
    border: 1px solid rgb(200, 199, 188);
    /*overflow: scroll;*/
}
.team_member{
    width: 100%;
    height: 60px;
    padding: 12px 10px 12px 10px;
    border-bottom: 1px solid rgb(216, 212, 209); 
}
.team_member_img{
    width: 35px;
    height: 35px;
    border-radius: 17px;
}
.team_member_name{
    margin-left: 10px;
}


.team_topic_container{
    width: 750px;
    height: 500px;
    background-color: rgb(240, 239, 226);
    border: 1px solid rgb(200, 199, 188);
    /*overflow: scroll;*/
}
.team_topic{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(216, 212, 209); 
    display: flex;
    justify-content: space-between;
}
.team_topic_title{
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 10px;
    width: 550px;
}
.team_topic_time{
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    width: 200px;
}